@media all and (max-width: 1188px) {
    #navBoot {
        padding-left: 20px;
    }
    #navBoot,
    .navbar-nav {
        font-size: 15px;
    }
    .offer-inner{
        width: 60%;
    }
    table {
        font-size: 15px;
        width: 90%;
    }
    .tab6 {
        width: 70%;
    }
    .gallery-items {
        width: 90%;
        margin-left: 27px;
        padding-bottom: 15px;

    }
    img {
        width: 190px;
    }
    .img-inner {
        width: 250px;
    }
}

@media all and (max-width: 992px) {
   
}
